@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
.slider-custom {
    background: url(../img/background1.jpg);
    background-size: cover;
    padding: 10%;
    padding-bottom: 23%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.8);
    color: #fff;
}
.slider-custom h1 {
    text-transform:uppercase;
    font-weight: bold;
    font-size: 50px;
}
.custom-btn-padd {
    padding:10px 30px;;
}
.second-custom-row {
    margin-top: 50px;
}
.welcome-content {
    padding: 5%;
}
.custom-box {
    position: relative;
    text-align: center;
    padding: 40px 20px;
    border: 1px solid #EEE;
    margin: 15px 0px;
    
}
.custom-btn-welcome {
    padding: 5px 50px;
}
.custom-box p {
    color: #868F9B;
}
.custom-box:hover {
    color: #fff;
}
.custom-box:after {
    content: "";
    background-color: #1C1D21;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    z-index: -1;
    -webkit-transition: 0.2s width;
    transition: 0.2s width;
}
.custom-box:hover:after {
    width: 100%;
}
.custom-box .fa {
    color: #6195FF;
}
.custom-box h4 {
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: bold;
}
/**********************************text on imagehover css*********************/
/* .custom-images-featured {
    position: relative;
    width: 50%;
  } */
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.8);
  }
  .custom-images-featured {
      margin-top: 30px;
  }
  .custom-images-featured img {
      margin: 20px 0;
  }
  
  .custom-images-featured:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    border: solid thin #6195FF;
    background: #6195FF;
    padding: 10px 20px;
  }
  .featured-content {
      background: #FAFAFA;
      padding: 5%;

  }
  .featured-content h2 {
     /* margin-bottom: 50px; */
      
      font-weight: bold;
  }
  .custom-offer-box {
    position: relative;
    
    padding: 40px 20px;
    border: 1px solid #EEE;
    margin: 15px 0px;
    margin-top: 30px;
       
  }
  .custom-offer-box:hover {
    color: #fff;
}
.custom-offer-box:after {
    content: "";
    background-color: #1C1D21;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    z-index: -1;
    -webkit-transition: 0.2s width;
    transition: 0.2s width;
}
.custom-offer-box:hover:after {
    width: 100%;
}
.custom-offer-box .fa {
    color: #6195FF;
}
.custom-offer-box h4 {
    padding-bottom: 20px;
    font-weight: bold;
}
.custom-parent-col-padding {
    padding: 0;
}
.custom-offer-box p {
    color: #868F9B;
}
.custom-featured-row {
    margin-top: 20px;
}
.offer-content h2 {
    /* padding-bottom: 50px; */
    font-weight: bold;
}
.offer-content {
    padding: 5%;
    
}
.clients-coutner .fa{
color: rgb(129, 168, 245);
margin-bottom: 10px;
}
.clients-coutner {
    color: #fff;
}
.clients-coutner h5 {
    font-weight: bold;
    font-size: 30px;
}
.project-bg {
    background: url(../img/background1.jpg);
    background-size: cover;
    padding: 3%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.8);
    color: #fff;
}
.pricing-content {
    padding: 5%;
}
.pricing-content h2 {
    /* margin-bottom: 30px; */
    font-weight: bold;
}
.plan-custom-box {
    position: relative;
    text-align: center;
    border: 1px solid #EEE;
    background-color: #FFF;
    z-index: 11;
    margin: 15px 0px;
    padding: 15% 8%;
    margin-top: 30px;
}
.plan-custom-box:hover {
    color: #6195FF;
}
.plan-custom-box:hover h1 {
    color: #fff;
}
.plan-custom-box::after {
    content: "";
    background-color: #1C1D21;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 0%;
    z-index: -1;
    -webkit-transition: 0.2s height;
    transition: 0.2s height;
}
.plan-custom-box:hover:after {
    height: 100%;
}

.plan-custom-box h5 {
    text-transform: uppercase;
    margin-bottom: 30px;
}
.plan-custom-box p {
    color: #868F9B;
}
/* .price-border {
    border: 2px solid #6195FF;
    border-radius: 50%;
    padding: 5%;
} */
.custom-contact-content-upper .fa {
    color: #6195FF;
    margin-bottom: 20px;
}
.custom-contact-content-upper {
    margin-top: 30px;
}
.contact-content h2 {
    /* margin-bottom: 50px; */
    font-weight: bold;
}
.contact-content {
    padding: 5%;
    background: #FAFAFA;
}
.custom-input-field {
    border-style: none;
    border-bottom: solid thin #e1e1e1;
    box-shadow: none;
}
.custom-input-field:focus {
    box-shadow: none;
    border-bottom: solid 2px rgb(129, 168, 245);
    transition: all ease-in 0.5s;
    
}
.below-header-hr {
    width: 5%;
    background: #6195FF;
    border-width: 3px;
}
