.custom-footer-social {
    margin-bottom: 30px;
}
.custom-footer-social ul li {
    border: solid thin #6195FF;
    background: #6195FF;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    margin: 0 10px;
}
.custom-footer-section {
    background: #1C1D21;
    padding: 5%;
    color: #fff;
}
.custom-footer-section p {
    color: #868F9B;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 17px;
}
.custom-footer-section h2 {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 5px;
}